<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("navbar-template.html");
        });
    </script>
    <title>Lotto|Web - Your results</title>
</head>

<body>
    <!-- Navbar-template injection -->
    <div id="header"></div>
    <!-- Navbar-template end -->

    <main class="container">
        <p>Test</p>
    </main>
</body>

</html>