<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("navbar-template.html");
        });
    </script>
    <title>Lotto|Web - Your results</title>
</head>

<body>
<!-- Navbar-template injection -->
<div id="header"></div>
<!-- Navbar-template end -->

<main class="container">
    <div class="card">
        <div class="card-header">
            <h5>Thank you for playing. Your lottery results are printed below:</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <table class="table">
                    <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">COUPON DATA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Coupon unique ID:</td>
                        <td th:text="${announcerResponseDto.uuid()}"></td>
                    </tr>
                    <tr>
                        <td>Draw date:</td>
                        <td th:text="${announcerResponseDto.drawDate()}"></td>
                    <tr>
                        <td>Your typed numbers:</td>
                        <td th:text="${announcerResponseDto.typedNumbers()}"></td>
                    </tr>
                    <tr>
                        <td>Winning numbers:</td>
                        <td th:text="${announcerResponseDto.winningNumbers()}"></td>
                    </tr>
                    <tr>
                        <td>Your matched numbers:</td>
                        <td th:text="${announcerResponseDto.matchedNumbers()}"></td>
                    </tr>
                    <tr>
                        <td>Scored matches:</td>
                        <td th:text="${announcerResponseDto.matchedNumbers().size()}"></td>
                    </tr>
                    <tr>
                        <td>Your lottery status:</td>
                        <td th:text="${announcerResponseDto.isWinner()} ? 'YOU HAVE WON!' : 'You have lost...'"></td>
                    </tr>
                    </tbody>
                </table>
                <h5>If you have won, don't forget about the reward! Go back to home-page for more details.</h5>
            </div>
        </div>
        <div class="card-footer">
            <a href="/index.html" class="anchor-as-button">HOME</a></div>
    </div>

</main>
</body>

</html>