<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("navbar-template.html");
        });
    </script>
    <title>Lotto|Web - Number input error</title>
</head>

<body>
<!-- Navbar-template injection -->
<div id="header"></div>
<!-- Navbar-template end -->

<main class="container">
    <div class="card">
        <div class="card-header">
            <h5>Thank you for playing. Your numbers do not seem to be correct. Please check number constraint rules below:  </h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <h5 class="text-danger" th:text="${inputNumbers}">Your input: </h5>
                <p>Reminder of the game rules:</p>
                <ul>
                    <li>number value constraint: 1 to 99</li>
                    <li>number count: 6</li>
                    <li>numbers must be distinct</li>
                    <li>only positive integers</li>
                </ul>
                <h5 class="text-danger">Try again!</h5>
            </div>
        </div>
        <div class="card-footer">
            <a href="/index.html" class="anchor-as-button">HOME</a></div>
    </div>

</main>
</body>

</html>