<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">

    <body>
        <main class="container" layout:fragment="content">
            <div class="card">
                <div class="card-header">
                    <h5>Thank you for playing. Your numbers do not seem to be correct. Please check number constraint rules below:  </h5>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h5 class="text-danger">Your typed numbers: <span th:text="${typedNumbers}"></span></h5>
                        <br>
                        <p>Reminder of the game rules:</p>
                        <ul class="bg-light">
                            <li>number value constraint: 1 to 99</li>
                            <li>number count: 6</li>
                            <li>numbers must be distinct</li>
                            <li>only positive integers</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/receiver" class="anchor-as-button">TRY AGAIN</a></div>
            </div>
        </main>
    </body>

</html>