:root {
    --primary-color: #ef8614;
    --primary-color-hover: #efb814;
    --secondary-color: #ffffff;
    --secondary-color-hover: #fff700;
    --hover-color: #9fc2ff;
    --primary-color-highlight: #233D54;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

.gap{
    margin: 1rem;;
}

body{
    padding: 10px 40px 40px 40px;
}

td{
    text-align: center;
    vertical-align: middle;
}

.navbar-custom {
    background-color: var(--primary-color);
    min-height: 90px;
}

.custom-nav-text {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.20rem;
}

.custom-nav-text:hover {
    transition-duration: 300ms;
    font-style: italic;
    padding: 0.2rem;
    margin: 0.2rem;
}

.custom-text-logo{
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 1.25rem;
    padding: 0.5rem;
    border-style: solid;
}

.custom-text-logo:hover{
    transition-duration: 1000ms;
    padding: 0.7rem;
}

.anchor-as-button{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0.2rem;
}

.anchor-as-button:hover{
   transition-duration: 200ms;
   color: var(--secondary-color);
   background-color: var(--primary-color-hover);     
}